.hero {
  h1 {
    margin: 0;
    font-size: 32px;
    text-align: center;
    color: $veryDarkMagenta;
  }
  p {
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    word-spacing: 1px;
  }
}
@include breakpoint-up(large) {
  .hero {
    grid-area: hero;
    margin-left: 2rem;
    h1 {
      max-width: 370px;
      font-size: 45px;
      text-align: left;
      line-height: 1.1;
    }
    p {
      max-width: 430px;
      text-align: left;
      font-size: 15px;
      letter-spacing: -1px;
    }
  }
}
@include breakpoint-up(xlarge) {
  .hero {
    margin-left: 0;
  }
}
