.hero {
  h1 {
    margin: 0;
    font-size: 32px;
    text-align: center;
    color: $veryDarkMagenta;
  }
  p {
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    word-spacing: 1px;
  }
}
