//Colors
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

//Font Sizes
$body-font: 0.9375rem; //15px
$mobile-font: 1rem; //16px
$font-sm: 0.9375rem; //15px
$font-md: 1.5rem; // 24px
